<div class="subheader">
  <h1>すべての質問</h1>
  <div class="tabs">
    <%= link_to "新着順", questions_path, class: "btn btn-default btn-sm" %>
    <%= link_to "投票数順", ranking_path, class: "btn btn-default btn-sm" %>
    <a href="#" class="btn btn-default btn-sm">お気に入り数順</a>
  </div>
</div>
