<div class="content clearfix">
  <div class="mainbar">
    <%= render 'form' %>
  </div>
  <div class="sidebar">
    <div class="statistics">
      <h4>編集方法</h4>
      <p><span class="dingus">▶︎</span>文法または文字の間違いを直す</p>
      <p><span class="dingus">▶︎</span>意味を変えないで、もっとわかりやすく説明する</p>
      <p><span class="dingus">▶︎</span>ささいな間違いを修正する</p>
      <p><span class="dingus">▶︎</span>関連するリソースまたはリンクを追加する</p>
      <p><span class="dingus">▶︎</span>_常に_元の投稿者に敬意を払う</p>
    </div>
  </div>
</div>
