<link rel="stylesheet" type="text/css" href="https://cdn.sstatic.net/Sites/ja/all.css?v=bd4b4674b2d5">
<div class="container">
  <div class="snippet-hidden content">
    <div class="inner-content">
      <div class="mainbar">
        <div class="qlist-wrapper">
          <div class="question-mini-list">
            <div>
              <% @questions.each do |question| %>
              <div class="question-summary narrow">
                <div class="cp">
                  <div class="votes">
                    <div class="mini-counts">
                      <span>0</span>
                    </div>
                    <div>票</div>
                  </div>
                  <div class="status answered">
                    <div class="mini-counts">
                      <span>1</span>
                    </div>
                    <div>回答</div>
                  </div>
                  <div class="views">
                    <div class="mini-counts">
                      <span>24</span>
                    </div>
                    <div>閲覧数</div>
                  </div>
                </div>
                <div class="summary">
                  <h3>
                    <a href="#" class="question-hyperlink"><%= "#{question.title}" %></a>
                  </h3>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="sidebar">

  <div class="aside-cta" role="navigation">
    <a href="/questions/ask" class="btn-outlined">質問する</a>
  </div>
</div>
</div>
