<ul>
  <% answers.each do |answer| %>
    <% unless answer.id.nil? %>
      <div class="answer-summary clearfix">
        <div class="clearfix">
          <div class="post-text">
            <p class="left"><%= answer.content %></p>
          </div>
        </div>
        <div class="clearfix">
          <div class="user-info clearfix">
            <p>回答日時：<%= answer.created_at.strftime("%Y年%m月%d日 %H時%M分") %></p>
            <div class="user-profile-img"><%= link_to profile_img(answer.user), user_path(answer.user.id) %></div>
            <div class="user-name"><%= link_to answer.user.name, user_path(answer.user.id) %></div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</ul>
