ul{
  padding: 0;
}

.child li {
  padding-top: 13px;
  border-bottom: 1px dotted #ccc;
  list-style-type: none;
}

.right {
text-align: right;
}

.left {
text-align: left;
}

.answer-summary {
  padding: 12px 0 10px 0;
  border-bottom: 1px solid #e4e6e8;
}

.answer-area {
  border-bottom: 1px solid #e4e6e8;
  padding-bottom: 10px;
}
