.my-page-contents {
  margin-top: 20px;
}

.img-field {
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 100px;
}

.my-questions {
  float: left;
}

.my-question {
  width: 400px;
  border-bottom: 1px solid #e4e6e8;
}

.field {
  width: 100%;
  margin-bottom: 10px;
}
