.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

.content {
  padding: 24px 15px;
  box-sizing: content-box;
  margin: 0 auto;
  width: 1060px;
  background-color: #FFF;
}

.mainbar {
  float: left;
  width: 728px;
  margin: 0;
  padding: 0;
}

.qlist-wrapper {
  clear: both;
}

.question-mini-list {
  overflow: auto;
  margin-bottom: 30px;
}

.question-summary {
  padding: 12px 0 10px 0;
  border-bottom: 1px solid #e4e6e8;
  overflow: hidden;
  float: left;
  width: 728px;
}

.narrow .cp {
  vertical-align: top;
  float: left;
  margin-right: 10px;
}

.cp {
  cursor: pointer;
}

.narrow .votes, .narrow .status, .narrow .views {
  padding: 8px 5px;
  line-height: 1;
}

.narrow .votes {
  display: inline-block;
  height: 38px;
  min-width: 38px;
  margin: 0 3px 0 0;
  font-size: 11px;
  color: #848d95;
}

.votes {
  text-align: center;
}

.narrow .mini-counts {
  margin-right: 2px;
  font-size: 17px;
  font-weight: 300;
  color: #6a737c;
  font-size: 17px;
  font-weight: 300;
}

.status.answered {
  color: #45A163;
  border-color: rgba(69, 161, 99, 0.5);
}

.narrow .status {
  display: inline-block;
  margin: 0 3px 0 0;
  min-width: 44px;
  height: auto;
  font-size: 11px;
}

.status .answered .mini-counts {
  color: #45A163;
}

.narrow .views {
  display: inline-block;
  height: 38px;
  min-width: 40px;
  margin: 0 7px 0 0;
  font-size: 11px;
  color: #848d95;
}

.narrow .summary {
  width: 530px;
  padding: 0;
  float: left;
}

.question-hyperlink {
  color: #07C;
  line-height: 1.3;
  margin-bottom: 1.2em;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
