.user_header {
  margin-bottom: 10px;
  height: 40px;
  border-bottom: 1px solid #e4e6e8;
  white-space: nowrap;
}

.userlist_boxtable {
  min-width: 250px;
  max-width: 250px;
  min-height: 60px;
  padding: 5px;
}

.userlist_boxavatar {
  max-width: 48px;
  max-height: 48px;
  margin: 7px;
  float: left;
}

.userlist_boxcontent {
  padding: 5px;
}

.userlist_boxend {
  clear: both;
  padding-left: 62px;
}

.user_box {
  min-width: 991px;
  max-width: 1125px;
  height: 287px ;
  margin-left: 15px;
  margin-right: 0;
}

.user_box .usershow_avatar{
  width: 220px !important;
  height: 280px;
  padding: 17px;
  border: 1px solid #c8ccd0;
  border-radius: 4px;
  box-shadow: inset 0 130px 0 #e7e8ea;
  text-align: center;
  vertical-align: top;
  float: left;
}

.user_box .usershow_profile {
  min-width: 400px;
  height: 287px;
  margin-left: 20px;
  vertical-align: top;
  word-break: break-all;
  float: left;
}

.user_box .usershow_point {
  width: 200px;
  height: 287px;
  vertical-align: top;
  word-wrap: break-word;
  float: right;
}

.btm_menu_box {
  min-width: 850px;
  max-width: 1125px;
}

.btm_menu_left {
  position: relative;
  margin-right: 0;
  border: 1px solid transparent;
  border-bottom-color: #ddd;
  padding: 10px 15px;
  float: left;
}

.btm_menu_right {
  min-width: 270px;
  height: 42px;
  margin-right: 0 !important;
}

.star_color_on {
  font-size: 24pt;
  text-align    : center;
  background    : #FFF;
  color         : #FFD83D;
  border        : none;
}

.star_color_off {
  font-size: 24pt;
  text-align: center;
  background: #FFF;
  color: #000;
  border: none;
}

.favorite_counter {
  text-align: center;
}
