.user_header {
  margin-bottom: 10px;
  height: 40px;
  border-bottom: 1px solid #e4e6e8;
  white-space: nowrap;
}

.userlist_boxtable {
  min-width: 250px;
  max-width: 250px;
  min-height: 60px;
  padding: 5px;
}

.userlist_boxavatar {
  max-width: 48px;
  max-height: 48px;
  margin: 7px;
  float: left;
}

.userlist_boxcontent {
  padding: 5px;
}

.userlist_boxend {
  clear: both;
  padding-left: 62px;
}

.avatar_card {
  width: 220px;
  margin-right: 40px;
  border: 1px solid #c8ccd0;
  border-radius: 4px;
  text-align: center;
  padding: 17px;
  box-shadow: inset 0 130px 0 #e7e8ea;
  float: left;
}

.usershow_boxprofile {
  margin-top: 0px;
  min-width: 220px;
  max-width: 400px;
  float: left;
}

.usershow_boxcard {
  margin-top: 30px;
  color: #6a737c;
  white-space: nowrap;
  float: left;
}
